<footer>
    <div id="bottom">
        <div class="margin-footer">
            <p class="tit">财富于你，触手可及</p>
            <div class="line"></div>
            <ul class="Column clearfix">
                <li class="about-us fl">
                    <p class="dt">关于我们</p>
                    <div class="link"> <a href="https://www.sy8.com/aboutus.html">公司简介</a> <a href="aboutus.html">管理团队</a> <a href="aboutus.html">企业文化</a><br> <a href="aboutus.html">公司资质</a> <a href="notice.html">平台公告</a> <a href="problem.html">常见问题</a> </div>
                </li>
                <li class="hot-line fl">
                    <p class="dt"> 服务热线</p>
                    <p class="tel">400-728-5588</p>
                    <p>服务时间：工作日9:00-18:00</p>
                </li>
                <li class="QR fl clearfix">
                    <div class="QR-box fl"><img src="https://www.sy8.com/image/download-app.png" alt="">下载app</div>
                    <div class="QR-box fl"><img src="https://www.sy8.com/image/gongzhonghao.png" alt="">关注微信公众号 </div>
                    <div class="QR-box fl"> <img src="https://www.sy8.com/image/kefu.png" alt="">24小时在线客服 </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="back">
        <div class="margin-footer clearfix"> Copyright © 2015-2017 商赢网 <span>|</span>沪ICP备1502435号-1<span>|</span>上海商赢乐点互联网金融信息服务有限公司
            <div class="img-box fr">
                <a href="http://webscan.360.cn/index/checkwebsite/url/www.sy8.com" target="_blank"><img src="https://www.sy8.com/image/360.png" alt="" width="86"></a>
                <a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.sy8.com&amp;lang=zh_cn" target="_blank"><img src="https://www.sy8.com/image/norton.png" alt="" width="86"></a>
                <a href="http://www.wdzj.com/" target="_blank"><img src="https://www.sy8.com/image/wdzj.png" alt="" width="86"></a>
                <a href="image/Itrust.png" data-lightbox="image-1" data-title="企业信用评级证书"><img src="https://www.sy8.com/image/xin.png" alt="" class="xin" width="45"></a>
            </div>
        </div>
    </div>
</footer>