<div class="placehd"></div>
<div id="head">
    <div class="top clearfix">
        <div class="margin0"> 服务热线 400-728-5588（工作日9:00-18:00）
            <div class="top-r clearfix fr"> <a href="https://www.sy8.com/notice.html" class="fl note active"><span class="icon-notice top-icon"></span>平台公告                      <div class="showit bg-no"></div>                  </a> <a href="javascript:volid(0);" class="fl note"><span class="icon-wechat1 top-icon"></span>微信公众号                      <div class="showit"><img src="image/gongzhonghao.png" alt="" width="130"></div>                  </a>                <a href="javascript:volid(0);" class="fl note"><span class="icon-download top-icon"></span>下载APP端                      <div class="showit"><img src="image/download-app.png" alt="" width="130"></div>                  </a> </div>
        </div>
    </div>
    <div class="head clearfix margin0">
        <div class="logo fl">
            <a href="https://www.sy8.com/index.html"><img src="https://www.sy8.com/image/logo@2x.png" alt=""></a>
        </div>
        <div class="nav fr">
            <ul class="clearfix">
                <li class="fl"><a href="https://www.sy8.com/index.html" class="">首页</a></li>
                <li class="fl"><a href="https://www.sy8.com/syConverge.html" class="">商赢汇</a></li>
                <li class="fl"><a href="https://www.sy8.com/problem.html" class="">常见问题</a></li>
                <li class="fl"><a href="https://www.sy8.com/aboutus.html" class="">关于我们</a></li>
            </ul>
        </div>
    </div>
</div>