<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keyworks" content="商赢金服，互联网金融，网络理财，短期理财，投资理财，安全可靠的理财产品，，商赢投资，商赢借款，商赢金服.">
<meta name="description" content="商赢金服（www.sy8.com）是商赢集团旗下重点打造的投融资一键式智能平台。公司以先进的金融科技体系，成熟的服务管理理念，围绕产品搭建、用户细分、智能配资、风控保障四大领域，为客户提供全方位的投融资一键式智能综合服务">
<meta content="always" name="referrer">
<title>商赢金服</title>
<link rel="dns-prefetch" href="//www.sy8.com" />
<!-- CSS -->
<link rel="stylesheet" href="https://www.sy8.com/css/reset.css">
<link rel="stylesheet" href="https://www.sy8.com/css/style.css">
<link rel="stylesheet" href="https://www.sy8.com/css/lightbox.min.css">
<link rel="stylesheet" href="https://www.sy8.com/css/common.css">

<link rel="stylesheet" href="https://www.sy8.com/css/notice.css">
<link rel="stylesheet" href="https://www.sy8.com/css/sy_details.css">
